{% extends "nav_footer.html" %}

{% load staticfiles %}


{% block title %}
    음식 주문
{% endblock %}

{% block head_extra %}


<style type="text/css">
    .picked-view {
        height: 800px;
    }

    .food-menu, .side-menu {
        display: inline-block;
        text-align: center;
        height: 200px;
        width: 200px;
    }

    .pick-food-navbar {
        vertical-align: top;
        font-size: 0;
        padding: 0;
        margin: 0;
    }

    .pick-food-navbar a.active {
        background-color: #b70000;
    }

    .pick-food-navbar a:hover {
        text-decoration: none;
    }

    .pick-food-navbar a:focus {
        text-decoration: none;
    }

    .pick-food-navbar a {
        display: inline-block;
        width: 33.33%;
        background-color: #e0e0e0;
        padding: 7px 10px;
        font-size: 17px;
        color: #ffffff;
        text-align: center;
        -webkit-border-radius: 25px 25px 0 0;
        -moz-border-radius: 25px 25px 0 0;
        border-radius: 20px 20px 0 0;
    }

    .what-i-picked {
        background-color: black;
        position: fixed;
        height: 250px;
        bottom: 0;
        width: 100%;
        color: white;
    }

    .what-i-picked > .food-menu, .what-i-picked > .side-menu {
        width:100px;
        display: inline-block;
        vertical-align: top;
    }

    button {
        width: 10px;
        color: black;
    }

</style>
{% endblock %}

{% block content %}

<div class="content_in">
    <div class="pick-food-section">
        <div class="pick-food-navbar">
            <a href="#mainmenu" class="active" data-toggle="tab">1. 메인메뉴</a>
            <a href="#side" data-toggle="tab">2. 사이드</a>
            <a href="#beverage" data-toggle="tab">3. 음료</a>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="mainmenu">
                <div class="picked-view">
                    <a class="pick-my-food"><div class="food-menu" id="menu-1" value="1">
                        <img src="{% static 'img/porkcutlet.jpeg'%}" style="width:100%;">
                        <P style="margin-bottom: 0px">돈까스</P>
                        <p id="price1"><span>8000</span>원</p>
                    </div></a>

                    <a class="pick-my-food"><div class="food-menu" id="menu-2" value="2">
                        <img src="{% static 'img/coldnoodle.jpeg'%}" style="width:100%;">
                        <p style="margin-bottom: 0px">냉면</p>
                        <p id="price2"><span>5000</span>원</p>
                    </div></a>

                    <a class="pick-my-food"><div class="food-menu" id="menu-3" value="3">
                        <img src="{% static 'img/dumpling.jpg'%}" style="width:100%;">
                        <p style="margin-bottom: 0px">만두</p>
                        <p id="price3"><span>3000</span>원</p>
                    </div></a>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="side">
                <div class="picked-view">
                    <a class="pick-my-food"><div class="side-menu">
                        <img src="{% static 'img/homerunball.jpg'%}" style="width:100%;">
                        <p style="margin-bottom: 0px">홈런볼</p>
                        <p>1000원</p>
                    </div></a>

                    <a class="pick-my-food"><div class="side-menu">
                        <img src="{% static 'img/chopstick.jpeg'%}" style="width:100%;">
                        <p style="margin-bottom: 0px">편의세트</p>
                        <p>1000원</p>
                    </div></a>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="beverage">

            </div>
        </div>
    </div>
</div>

    <div class="what-i-picked"></div>



<script type="text/javascript">
    $('div.pick-food-navbar a').on('click', function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('div.pick-food-navbar a.active').removeClass('active');
        $(this).addClass('active');
    });

    var countclick_defalut = 1;
    $('.pick-my-food').click(function(){
        var pickedid = $(this).children().attr("id");
        if($(".what-i-picked > #"+pickedid).length == 0) {
            $(this).children().clone().appendTo(".what-i-picked");
            $("<p><span id=" + pickedid + ">"+countclick_defalut+"</span>개</p><button class=sub-button-"+ pickedid +">-</button>").insertAfter(".what-i-picked #price"+ $(this).children().attr('value'));
        }   else {
            countclick = Number($('span#' + pickedid).html()) + 1;
            var price_per_unit = Number($(".pick-my-food #price"+ $(this).children().attr('value') + " span").html());
            $('span#' + pickedid).replaceWith("<span id=" + pickedid + ">"+countclick+"</span");
            $(".what-i-picked #price"+ $(this).children().attr('value') + " span").replaceWith("<span>"+(countclick*price_per_unit)+"</span");
        }
        $('.sub-button-'+ pickedid).unbind("click")
        $('.sub-button-'+ pickedid).click(function(){
            countclick = Number($('span#' + pickedid).html()) - 1
            var price_per_unit = Number($(".pick-my-food #price"+ $(this).parent().attr('value') + " span").html());
            if(countclick == 0 ) {
                $('.sub-button-'+ pickedid).parent().remove();
                alert("해당 메뉴를 취소하였습니다")
            }
            $('span#' + pickedid).replaceWith("<span id=" + pickedid + ">"+countclick+"</span");
            $(".what-i-picked #price"+ $(this).parent().attr('value') + " span").replaceWith("<span>"+(countclick*price_per_unit)+"</span");
        })
    });




</script>

{% endblock %}