{% extends "nav_footer.html" %}

{% load staticfiles %}


{% block title %}
    음식 메뉴
{% endblock %}

{% block head_extra %}


<style type="text/css">
    .picked-view {
        /*height: 800px;*/
    }

    .food-menu, .side-menu {
        display: inline-block;
        text-align: center;
        height: 200px;
        width: 200px;
    }

    .pick-food-navbar {
        vertical-align: top;
        font-size: 0;
        padding: 0;
        margin: 0;
    }

    .pick-food-navbar a.active {
        background-color: #b70000;
    }

    .pick-food-navbar a:hover {
        text-decoration: none;
    }

    .pick-food-navbar a:focus {
        text-decoration: none;
    }

    .pick-food-navbar a {
        display: inline-block;
        width: 25%;
        background-color: #e0e0e0;
        padding: 7px 10px;
        font-size: 17px;
        color: #ffffff;
        text-align: center;
        -webkit-border-radius: 25px 25px 0 0;
        -moz-border-radius: 25px 25px 0 0;
        border-radius: 20px 20px 0 0;
    }

    .what-i-picked {
        background-color: rgba(0,0,0,0.7);
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
    }

    .what-i-picked > .food-menu, .what-i-picked > .side-menu {
        width:100px;
        display: inline-block;
        vertical-align: top;
    }

    button {
        width: 10px;
        color: black;
        display: inline-block;
    }

    #total-price {
        float: right;
        margin-top: 50px;
    }

    .empty-basket {
        float: right;
        width: 60px;
    }

    .modal {
        margin-top: 150px;
    }

    .foodstore_name {
        display: inline-block;
    }

</style>
{% endblock %}

{% block content %}

<div class="content_in">
    <div class="pick-food-section">
        <div class="pick-food-navbar">
            <a href="#main" class="active" data-toggle="tab">1. 메인메뉴</a>
            <a href="#side" data-toggle="tab">2. 사이드</a>
            <a href="#drink" data-toggle="tab">3. 음료</a>
            <a href="#etc" data-toggle="tab">4. 기타</a>
        </div>

        <p style = "font-weight: bold; font-size: 20pt">{{ date }}</p>
        <!-- intro에서 입력한 날싸 -->


        <!-- 메인메뉴 -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="main">
                <div class="picked-view">
            {% for foodstore in foodstores %}
            {% if foodstore.store.is_contain_main == True %}
                <a data-toggle="modal" data-target="#myModal1-{{ foodstore.pk }}"><h2 class="foodstore_name">{{ foodstore.store.name }}</h2></a> <br> <!-- 누르면 모달 나오는부분 -->
                {% for menu in foodstore.datemenulimit_set.all %}
                {% if menu.menu.group == 'main' %}
                <div style="display: inline-block;">
                    <a class="pick-my-food"><div class="food-menu" id="menu-{{ menu.pk }}" value="{{ menu.pk }}">
                        <img src="{{ menu.menu.photo.url }}" style="width:100%;">
                        <P style="margin-bottom: 0px">{{ menu.store.store }}</P>
                        <P id="menu_name{{ menu.pk }}" style="margin-bottom: 0px">{{ menu.menu.name }}</P>
                        <p id="price{{ menu.pk }}"><span>{{ menu.menu.price }}</span>원</p>
                    </div></a>
                    <p style="display: block; text-align: center;">수량 : <span id="remain_amount-menu-{{ menu.pk }}">{{ menu.remain_amount }}</span>개</p>
                </div>
                <!-- 1.9. 주영. 기존 메뉴 div를 감싸는 div 생성하고 수량 표시하는 p 생성 -->
                {% endif %}
                {% endfor %}

            <!-- 모달 div -->
            <div id="myModal1-{{ foodstore.pk }}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">{{ foodstore.store.name }}</h2>
                        </div>

                        <div class="modal-body">
                            <img src="{{ foodstore.store.photo.url }}">
                            <h4>주소 : {{ foodstore.store.address }}</h4>
                            <h4>연락처 : {{ foodstore.store.contact }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            {% endfor %}

                </div>
            </div>


            <!-- 사이드 메뉴 -->
            <div role="tabpanel" class="tab-pane" id="side">
                <div class="picked-view">
            {% for foodstore in foodstores %}
            {% if foodstore.store.is_contain_side == True %}
                <a data-toggle="modal" data-target="#myModal2-{{ foodstore.pk }}"><h2 class="foodstore_name">{{ foodstore.store.name }}</h2></a> <br>
                {% for menu in foodstore.datemenulimit_set.all %}
                {% if menu.menu.group == 'side' %}
                <div  style="display: inline-block;">
                    <a class="pick-my-food"><div class="food-menu" id="menu-{{ menu.pk }}" value="{{ menu.pk }}">
                        <img src="{{ menu.menu.photo.url }}" style="width:100%;">
                        <P style="margin-bottom: 0px">{{ menu.store.store }}</P>
                        <P id="menu_name{{ menu.pk }}" style="margin-bottom: 0px">{{ menu.menu.name }}</P>
                        <p id="price{{ menu.pk }}"><span>{{ menu.menu.price }}</span>원</p>
                    </div></a>
                    <p style="display: block; text-align: center;">수량 : <span id="remain_amount-menu-{{ menu.pk }}">{{ menu.remain_amount }}</span>개</p>
                </div>
                <!-- 1.9. 주영. 기존 메뉴 div를 감싸는 div 생성하고 수량 표시하는 p 생성 -->
                {% endif %}
                {% endfor %}

            <!-- 모달 div -->
            <div id="myModal2-{{ foodstore.pk }}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">{{ foodstore.store.name }}</h2>
                        </div>

                        <div class="modal-body">
                            <img src="{{ foodstore.store.photo.url }}">
                            <h4>주소 : {{ foodstore.store.address }}</h4>
                            <h4>연락처 : {{ foodstore.store.contact }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            {% endfor %}

                </div>
            </div>


            <!-- 음료 -->
            <div role="tabpanel" class="tab-pane" id="drink">
                <div class="picked-view">
            {% for foodstore in foodstores %}
            {% if foodstore.store.is_contain_drink == True %}
                <a data-toggle="modal" data-target="#myModal3-{{ foodstore.pk }}"><h2 class="foodstore_name">{{ foodstore.store.name }}</h2></a>  <br>
                {% for menu in foodstore.datemenulimit_set.all %}
                {% if menu.menu.group == 'drink' %}
                <div style="display: inline-block;">
                    <a class="pick-my-food"><div class="food-menu" id="menu-{{ menu.pk }}" value="{{ menu.pk }}">
                        <img src="{{ menu.menu.photo.url }}" style="width:100%;">
                        <P style="margin-bottom: 0px">{{ menu.store.store }}</P>
                        <P id="menu_name{{ menu.pk }}" style="margin-bottom: 0px">{{ menu.menu.name }}</P>
                        <p id="price{{ menu.pk }}"><span>{{ menu.menu.price }}</span>원</p>
                    </div></a>
                    <p style="display: block; text-align: center;">수량 : <span id="remain_amount-menu-{{ menu.pk }}">{{ menu.remain_amount }}</span>개</p>
                </div>
                <!-- 1.9. 주영. 기존 메뉴 div를 감싸는 div 생성하고 수량 표시하는 p 생성 -->
                {% endif %}
                {% endfor %}

            <!-- 모달 div -->
            <div id="myModal3-{{ foodstore.pk }}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">{{ foodstore.store.name }}</h2>
                        </div>

                        <div class="modal-body">
                            <img src="{{ foodstore.store.photo.url }}">
                            <h4>주소 : {{ foodstore.store.address }}</h4>
                            <h4>연락처 : {{ foodstore.store.contact }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            {% endfor %}

                </div>
            </div>


            <!-- 기타 -->
            <div role="tabpanel" class="tab-pane" id="etc">
                <div class="picked-view">
            {% for foodstore in foodstores %}
            {% if foodstore.store.is_contain_etc == True %}
                <a data-toggle="modal" data-target="#myModal4-{{ foodstore.pk }}"><h2 class="foodstore_name">{{ foodstore.store.name }}</h2></a> <br>
                {% for menu in foodstore.datemenulimit_set.all %}
                {% if menu.menu.group == 'etc' %}
                <div style="display: inline-block;">
                    <a class="pick-my-food"><div class="food-menu" id="menu-{{ menu.pk }}" value="{{ menu.pk }}">
                        <img src="{{ menu.menu.photo.url }}" style="width:100%;">
                        <P style="margin-bottom: 0px">{{ menu.menu.store }}</P>
                        <P id="menu_name{{ menu.pk }}" style="margin-bottom: 0px">{{ menu.menu.name }}</P>
                        <p id="price{{ menu.pk }}"><span>{{ menu.menu.price }}</span>원</p>
                    </div></a>
                    <p style="display: block; text-align: center;">수량 : <span id="remain_amount-menu-{{ menu.pk }}">{{ menu.reamin_amount }}</span>개</p>
                </div>
                <!-- 1.9. 주영. 기존 메뉴 div를 감싸는 div 생성하고 수량 표시하는 p 생성 -->
                {% endif %}
                {% endfor %}

            <!-- 모달 div -->
            <div id="myModal4-{{ foodstore.pk }}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">{{ foodstore.store.name }}</h2>
                        </div>

                        <div class="modal-body">
                            <img src="{{ foodstore.store.photo.url }}">
                            <h4>주소 : {{ foodstore.stoer.address }}</h4>
                            <h4>연락처 : {{ foodstore.store.contact }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            {% endfor %}

                </div>
            </div>

        </div>
    </div>
</div>

    <div class="what-i-picked">
        <div id="total-price">
            총액: <span id="price-sum"></span>원
        </div>
        <button class="empty-basket" id="empty-basket">비우기</button>

        <form action="" method="POST" id="test">
            {% csrf_token %}
            <input id="total" type="text" name="total_price" value="123"> <!-- 총액 전달용 input -->
            <input type="submit" value="주문하기">

        </form>
    </div>


 <!-- 메인메뉴, 사이드, 음료 왔다갔다하는 네브 바-->
<script type="text/javascript">
    $('div.pick-food-navbar a').on('click', function (e) {
        e.preventDefault();
        $(this).tab('show');
        $('div.pick-food-navbar a.active').removeClass('active');
        $(this).addClass('active');
    });

// 메뉴 클릭했을 때 작동
    var index = 0;
    var orderedlist = [];
    var countclick_defalut = 1;
    var chongaek = 0;
    $('.pick-my-food').click(function(){
        var pickedid = $(this).children().attr("id");
        if($(".what-i-picked > #"+pickedid).length == 0) {   //장바구니에 메뉴가 없으면 추가
            $(this).children().clone().appendTo(".what-i-picked");
            $("<button class=sub-button-"+ pickedid +">-</button><p style='display: inline-block;'><span id=" + pickedid + ">"+countclick_defalut+"</span>개</p><button class=plus-button-"+ pickedid +">+</button>").insertAfter(".what-i-picked #price"+ $(this).children().attr('value'));   //갯수, +,-버튼 생성
            $('.what-i-picked > #'+pickedid).attr("name", index);
            var menu_amount = $(this).children().children("#menu_name"+ $(this).children().attr('value')).html() +"-"+ countclick_defalut
            orderedlist.push(menu_amount)
            index++;
            $('<input name="ordered_menus" value="'+ orderedlist +'">').appendTo("#test") //input 생성하기

            chongaek = chongaek + Number($(".pick-my-food #price"+ $(this).children().attr('value') + " span").html());
            $("#price-sum").text(chongaek);
            $("#total").val(chongaek);

        }   else {        //장바구니에 메뉴가 있으면 갯수 올라가게 하는 로직
                countclick = Number($('span#' + pickedid).html());
                if(countclick == Number($('#remain_amount-' + pickedid).html())) {
                    alert("주문가능한 수량이 초과되었습니다.")
                } else {
                    countclick++;
                    var price_per_unit = Number($(".pick-my-food #price"+ $(this).children().attr('value') + " span").html());
                    $('span#' + pickedid).replaceWith("<span id=" + pickedid + ">"+countclick+"</span");
                    $(".what-i-picked #price"+ $(this).children().attr('value') + " span").replaceWith("<span>"+(countclick*price_per_unit)+"</span");
                };
            // 최대수량 안넘도록

            orderedlist[Number($(".what-i-picked #"+pickedid).attr("name"))] = $(this).children().children("#menu_name"+ $(this).children().attr('value')).html() +"-"+ countclick // view.py로 넘길 리스트에 변화

            // 총액 금액 반영
            chongaek = chongaek + Number($(".pick-my-food #price"+ $(this).children().attr('value') + " span").html());
            $("#price-sum").text(chongaek);
            $("#total").val(chongaek);
        };


        //빼기버튼 누르면 갯수랑 금액 줄어들고 총액 반영까지
        $('.sub-button-'+ pickedid).unbind("click");
        $('.sub-button-'+ pickedid).click(function(){
            countclick = Number($('span#' + pickedid).html()) - 1;
            var price_per_unit = Number($(".pick-my-food #price"+ $(this).parent().attr('value') + " span").html());
            $('span#' + pickedid).replaceWith("<span id=" + pickedid + ">"+countclick+"</span"); //수량변화
            $(".what-i-picked #price"+ $(this).parent().attr('value') + " span").replaceWith("<span>"+(countclick*price_per_unit)+"</span"); //합계금액 변화

            chongaek = chongaek - Number($(".pick-my-food #price"+ $(this).parent().attr('value') + " span").html());
            $("#price-sum").text(chongaek); // 총액 변수에 반영해서 내용 대체
            $("#total").val(chongaek);
            console.log($("#total").val());

            orderedlist[Number($(".what-i-picked #"+pickedid).attr("name"))] = $(".pick-my-food #menu_name"+ $(this).parent().attr('value')).html() +"-"+ countclick // view.py로 넘길 리스트에 변화

            if(countclick == 0 ) {  // 갯수 0개 되면 알림뜨면서 메뉴 사라지고
                $('.sub-button-'+ pickedid).parent().remove();
                alert("해당 메뉴를 취소하였습니다")
            }
        });

        //더하기 버튼 누르면 갯수랑 금액 올라가고 총액 반영까지
        $('.plus-button-'+ pickedid).unbind("click");
        $('.plus-button-'+ pickedid).click(function(){
            countclick = Number($('span#' + pickedid).html());
            if(countclick == Number($('#remain_amount-' + pickedid).html())) {
                    alert("주문가능한 수량이 초과되었습니다.")
            } else {
                countclick++;
                var price_per_unit = Number($(".pick-my-food #price"+ $(this).parent().attr('value') + " span").html());
                $('span#' + pickedid).replaceWith("<span id=" + pickedid + ">"+countclick+"</span"); // 수량변화
                $(".what-i-picked #price"+ $(this).parent().attr('value') + " span").replaceWith("<span>"+(countclick*price_per_unit)+"</span"); // 합계금액 변화

                chongaek = chongaek + Number($(".pick-my-food #price"+ $(this).parent().attr('value') + " span").html());
                $("#price-sum").text(chongaek); //총액 변수에 반영해서 내용 대체
                $("#total").val(chongaek);

                orderedlist[Number($(".what-i-picked #"+pickedid).attr("name"))] = $(".pick-my-food #menu_name"+ $(this).parent().attr('value')).html() +"-"+ countclick  //view.py로 넘길 리스트 변화
        }
        });

    });

    $('#empty-basket').click(function(){
        $('.what-i-picked > .food-menu').remove();
        var chongaek = 0;
        $("#price-sum").text(chongaek);
        orderedlist=[];
    })

</script>

{% endblock %}